:root {
	--main-deep-blue: #092C4C;

  /* Map Zones Colors */
  --zone-island-bg: #dcd5c5;
  --zone-island-border: #9a8c73;

  --zone-fishing-bg: #3b82f6;
  --zone-fishing-border: #1d4ed8;

  --zone-preserve-bg: #10b981;
  --zone-preserve-border: #047857;

  --zone-buoy-bg: #f97316;
  --zone-buoy-border: #c2410c;

  --zone-city-bg: #94a3b8;
  --zone-city-border: #64748b;

  --zone-default-bg: #94a3b8;
  --zone-default-border: #64748b;

  /* Interactive States */
  --state-hover-border: #2563eb;
  --state-selected-bg: #fbbf24;
  --state-selected-border: #f59e0b;

  /* Vessel Types Colors */
  --chart-vessel-cargo: #9a76ec;
  --chart-vessel-fishing: #3b82f6;
  --chart-vessel-ferry-cargo: #64748b;
  --chart-vessel-ferry-passenger: #ec48ad;
  --chart-vessel-tour: #10b981;
  --chart-vessel-research: #f5a70b;
  --chart-vessel-other: #373232;

  /* Commodity Colors */
  --commodity-illegal: #ef4444;
  --commodity-legal: #10b981;
  --commodity-suspect: #f59e0b;

  /* Chart Colors */
  --chart-bg-default: transparent;
  --chart-bg-pinned: #f8fafc;
  
  --chart-row-hover: #f8fafc;
  --chart-grid-line: #e2e8f0;
  
  --chart-text-main: #1e293b;
  --chart-text-muted: #94a3b8;
  --chart-text-pinned: #94a3b8;

  --chart-axis-line: #727880;
  --chart-ping-neutral: #5a6971;
  
  /* Highlight Colors */
  --chart-row-highlight-bg: #fffbeb;
  --chart-row-highlight-hover: #fef3c7;
  --chart-text-highlight: #b45309;
  --chart-text-highlight-dark: #78350f;

  /* Row Backgrounds */
  --chart-row-priority-bg: #fefce8;
  --chart-row-priority-hover: #fef9c3;
}

h1, h2 {
  color: var(--main-deep-blue)
}

@import 'tailwindcss';